/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/05/2017, 15:57:28
    Author     : vitor.furini
*/

#botao{ text-align: center }
.botaoEnviar {
    width: 350px;
    text-align: right;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #FCC302;
    font-size: 18px;
    float: left;
}